# Pandas
파이썬에서 사용하는 데이터 분석 라이브러리

# 단축키 모음

위로 셀 추가 / 아래로 셀 추가

[a] / [b]

Markdown으로 변경 / Code로 변경

[m] / [y]

저장은 ctrl + s

In [20]:
import pandas as pd

# 1. Series
1차원 데이터(정수, 실수, 문자열 등)

## Series 객체 생성
예) 1월부터 4월까지 평균 온도 데이터 (-20, -10, 10, 20)

In [21]:
temp = pd.Series([-20, -10, 10, 20])
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [22]:
temp[0] # 1월 온도인 -20도 출력.

-20

In [23]:
temp[2] # 3월 온도인 10도 출력.

10

# Series 객체 생성 (Index 지정)

In [24]:
temp = pd.Series([-20, -10, 10, 20], index = ['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [25]:
temp["Jan"] # 0을 Jan으로 치환해서 -20이라는 값이 나옴.

-20

In [26]:
temp["Apr"]

20

In [ ]:
# temp['Jun'] # 존재하지 않는 index 접근 시 에러.